gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Added Android Keystore Protection
*.jks
*.keystore
key.properties
android/key.properties
android/app/key.properties
frontend/android/key.properties
frontend/android/app/key.properties
